*.idea
*~
*__pycache__*
*.pyc
*.pytest_cache
*.ipynb_checkpoints/
dataset/
!dataset/README.md
trackers/MixFormer/models/
!trackers/MixFormer/models/README.md
results/
results1/
results2/
results-dimp/
results-mxf/
results-tomp/
!results/README.md
*.pth
*.tar
*.pdf
*.swp
# /eval/test
# .eval/log_test.txt
# .eval/log_test_vot2016.txt
# .eval/log_test_vot2018.txt
# /got10k/
# ltr/admin/local.py
# ltr/run_ltr_local.py
# ltr/train_settings/*/debug.py
# pytracking/parameter/*/debug.py
# pytracking/networks/
# pytracking/tracking_results/
# pytracking/result_plots/
# pytracking/evaluation/local.py
# pytracking/run_local.py
# lib/pysot/utils/build/
